.header-div {
  display: flex;
  flex-direction: row;
}
.header-div h1{
  margin-right: 400px;
}


#effect {
  position: relative;
  width: 550px;
  height: auto;
  padding: 0.4em;
}

#movie-choice-container{
  height:auto;
  align-items: center;
  display:flex;
  /* flex-direction: column; */
  padding-left: 10px;
  margin-top: 0px;
}

.selection-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  padding-top: 15px;
  height: 30%;
  width:90%;
  margin-top: 20px;
  margin-bottom: 30px;

}
#poster-title-container {
  position: relative;
  height:auto;
  width: 300px;
}

#poster-title-container img{
  height:90%;
  width: 50%;


}

#poster-title-container:hover img{
  opacity: 0.5;
}

#poster-title-container:hover img.trash-can-image{
  display:block;
}


#movie-choice-container label {
  align-self: flex-start;
  padding-left: 8%;
  margin-right: 10px;
}

#poster-title-container img.trash-can-image{
  position: absolute;
  top:35%;
  right: 35%;
  background-color: transparent;
  display: none;
  font-weight: bold;
  border-color: black;
  height:25%;
  width:30%;

}

li {
  list-style-type: none;
}

.trash-button {
  background: url("images/trashcan.png")
}

.list-item {
  height:40%;
  margin-bottom: 15px;
}

.main-container {
  background: #000;
  background: -webkit-gradient(linear, left top, right bottom, from(#000), to(#5e5c5c));
  background: -webkit-linear-gradient(bottom right, #000, #5e5c5c);
  background: -moz-linear-gradient(bottom right, #000, #5e5c5c);
  background: linear-gradient(to bottom right, #000, #5e5c5c);
}





/*_____________TOGGLE TEST_____________  */
.toggler {
   width: 300px;
   height: auto;
 }
 #button {
   padding: .5em 1em;
   text-decoration: none;
   margin-bottom: 10px;
 }
